@model Biblioteca.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-auto" style="width: 80%">
    <h2>Añadir libro</h2>


    @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <form style="width: 100%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.createdDate)

            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" name="title" placeholder="Escribir título del libro...">
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Año de publicación</label>
                <input type="text" class="form-control" name="year" placeholder="Escribir año de publicación...">
                @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Editorial</label>
                <input type="text" class="form-control" name="publisher" placeholder="Escribir editorial...">
                @Html.ValidationMessageFor(model => model.publisher, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <input type="text" class="form-control" name="description" placeholder="Escribir descripción...">
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Portada</label>
                <input type="file" class="form-control" name="cover" placeholder="Selecciona una portada">
                @Html.ValidationMessageFor(model => model.cover, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Autor</label>
                <input type="text" class="form-control" name="author" placeholder="Escribir nombre de autor...">
                @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Género</label>
                    <input type="text" class="form-control" name="genre" placeholder="Escribir género del libro...">
                    @Html.ValidationMessageFor(model => model.genre, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
