@model Biblioteca.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-auto" style="width: 80%">
    <h2>Borrar libro</h2>

    <h3>¿Seguro que quieres borrar este libro?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label>Título</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt>
                <label>Año de publicación</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.year)
            </dd>

            <dt>
                <label>Editorial</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.publisher)
            </dd>

            <dt>
                <label>Fecha de creación</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdDate)
            </dd>

            <dt>
                <label>Descripción</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                <label>Portada</label>
            </dt>

            <dd>
                <img style="width: 200px; height=auto" src="~/Public/Covers/@Model.cover"/>
            </dd>

            <dt>
                <label>Autor</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>

            <dt>
                <label>Género</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.genre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <br />
        }
    </div>
</div>